body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f2f2f2;
}

header {
    background-color: #FF9933;
    color: white;
    padding: 20px;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.form-container {
    margin-top: 20px;
}

.form-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.btn {
    background-color: #138808;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
